<template>
  <div class="autocomplete">
    <div class="input">
      <input
        type="text"
        @input="onChange"
        v-model="search"
        @keydown.down="onArrowDown"
        @keydown.up="onArrowUp"
        @keydown.enter="onEnter"
      />
      <div
        v-show="search?.length >0"
        class="input__btn"
        @click="setResult()"
      />
    </div>
    
    <ul
      id="autocomplete__results"
      v-show="isOpen"
      class="autocomplete__results"
    >
      <li
        v-for="(result, i) in results"
        :key="i"
        @click="setResult(result)"
        class="autocomplete__result"
        :class="{ 'is-active': i === arrowCounter }"
      >
        {{ result }}
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'Autocomplete',
    props: {
      items: {
        type: Array,
        required: false,
        default: () => [],
      },
    },
    data() {
      return {
        isOpen: false,
        results: [],
        search: '',
        arrowCounter: -1,
      };
    },
    mounted() {
      document.addEventListener('click', this.handleClickOutside)
    },
    unmounted() {
      document.removeEventListener('click', this.handleClickOutside)
    },
    methods: {
      setResult(result) {
        this.search = result;
        this.isOpen = false;
      },
      // cycles for must work faster then .filter
      // but in this example, the difference is not noticeable due to the large number of numbers in the selection

      // filterResults() {
      //   this.results = this.items.filter((item) => {
      //     return item.toLowerCase().indexOf(this.search.toLowerCase()) > -1;
      //   });
      // },
      filterResults() {
        this.results = [];
        for (var i = 0; i <= this.items.length; i++) {
          if (this.items[i]?.toLowerCase().indexOf(this.search.toLowerCase()) > -1) {
            this.results.push(this.items[i])
          }
        }
      },
      onChange() {
        this.$emit('input', this.search);
        this.filterResults();
        this.isOpen = true;
      },
      handleClickOutside(event) {
        if (!this.$el.contains(event.target)) {
          this.isOpen = false;
          this.arrowCounter = -1;
        }
      },
      onArrowDown() {
        if (this.arrowCounter < this.results.length) {
          this.arrowCounter = this.arrowCounter + 1;
        }
      },
      onArrowUp() {
        if (this.arrowCounter > 0) {
          this.arrowCounter = this.arrowCounter - 1;
        }
      },
      onEnter() {
        this.search = this.results[this.arrowCounter];
        this.isOpen = false;
        this.arrowCounter = -1;
      },
    },
  };
</script>

<style>
.autocomplete {
  position: relative;
  max-width: 190px;
}
.input input {
  border: 1px solid #333;
  padding: 8px 16px;
  box-sizing: border-box;
  width: 100%;
}
.autocomplete__results {
  padding: 0;
  margin: 0;
  border: 1px solid #333;
  max-height: 120px;
  overflow: auto;
}

.autocomplete__result {
  list-style: none;
  text-align: left;
  padding: 4px 2px 4px 16px;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.autocomplete__result.is-active,
.autocomplete__result:hover {
  background-color: #41b883;
  color: white;
}
.input__btn {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 5px;
  top: 8.5px;
  background-image: url(../assets/close.svg);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
</style>