<template>
  <h1>Autocomplete component</h1>
  <p>there is array with 50000 numbers</p>
  <div class="autocomplete__container">
    <Autocomplete
      :items="items"
    />
  </div>
</template>

<script>
import Autocomplete from './components/Autocomplete.vue'

export default {
  name: 'App',
  components: {
    Autocomplete
  },
  data() {
    return {
      items: [],
    };
  },
  mounted() {
    this.createItemList()
  },
  methods: {
    createItemList() {
      let newItems = [];
      for (var i = 49999; i >= 0; i--) {
        newItems.push(i.toString());
      }
      this.items = [];
      this.items = newItems;
    }
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
html {
  font-size: 14px;
}
.autocomplete__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
</style>
